@import "../../css/_variables";

.button {
	color: $colorPrimary;
	border: 1px solid $colorPrimary;
	border-radius: 100px;
	padding: $spacing;
	background-color: transparent;
	transition: background-color .3s;
	cursor: pointer;

	&:hover {
		background-color: lighten($colorPrimary, 30);
	}
}

.button--nav {
	padding-right: 60px;
}

.button--filled {
	color: white;
	background: $colorPrimary;
	border: 1px solid $colorPrimary;

	&:hover {
		background-color: lighten($colorPrimary, 8);
	}
}

.button--block {
	display: block;
	width: 100%;
}