// * {
// 	// margin: 0;
// 	// padding: 0;
// 	// box-sizing: border-box;
// 	// --locked-color: #5fadbf;
// 	// --unlocked-color: #ff5153;
// }

.envelope {
    // width: 34px;
    // height: 24px;
	// border: 3px solid var(--locked-color);
	// border-radius: 5px;
	// position: relative;
	// cursor: pointer;
	// -webkit-transition: all 0.1s ease-in-out;
	// transition: all 0.1s ease-in-out;

	width: 34px;
    height: 24px;
	position: relative;

	&:before {
		content: "";
		width: 34px;
		height: 24px;
		background-color: var(--locked-color);
		display: block;
		border-radius: 5px;
		border: 3px solid var(--locked-color);
		box-sizing: border-box;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
	}


    // position: relative;
    // cursor: pointer;
    // transition: all 0.1s ease-in-out;
    // display: flex;
    // align-items: start;
    // justify-content: center;
	// position: relative;
	// background-color: var(--locked-color);
	// // overflow: hidden;
	// // perspective: 600px;
	// // transition: transform 1s;
	// // transform-style: preserve-3d;

	// perspective: 600px;
	// transition: transform 1s;
	// transform-style: preserve-3d;
	// background: tomato;

	// &:before {
	// 	content: "";
	// 	display: block;
	// 	top: 0px;
	// 	height: 0;
	// 	width: 0;
	// 	border-top: 8px solid var(--locked-color);
	// 	border-bottom: 2px solid transparent;
	// 	border-right: 14px solid transparent;
	// 	border-left: 14px solid transparent;
	// 	position: absolute;
	// }

	// &:after {
	// 	content: "";
	// 	display: block;
	// 	top: -3px;
	// 	height: 0;
	// 	width: 0;
	// 	border-top: 8px solid green;
	// 	border-bottom: 2px solid transparent;
	// 	border-right: 14px solid transparent;
	// 	border-left: 14px solid transparent;
	// 	position: absolute;


	// 	// transform: translateX(-100%) rotateY(-90deg);
	// }

	// &:hover {
	// 	&:after {
	// 		transform: rotateY(180deg);
	// 		border-top-color: var(--locked-color);
	// 	}
	// }

	.tab {
		position: absolute;
		top: 0;

		width: 28px;
		// -webkit-backface-visibility: hidden;
		// backface-visibility: hidden;
		// transform: translateY(9%);
		height: 11px;
		z-index: 4;
		margin: 0 auto;
		left: 50%;
		transform: translate(-50%);
	}

	.tab--folded {
		transition: height .3s;
		// transition-delay: 3s;
		// animation: closeTab .3s;
	}

	.tab--back {
		height: 11px;
		top: 0;
		transition: top .3s;

		z-index: 2;
	}

	&:hover {
		.tab--folded {
			// animation: openTab .3s;
			// transition-delay: 0 !important;
			height: 0;
		}

		.tab--back {
			top: -10px;
			// transition-delay: 0;
			transition-delay: .3s;
		}
	}
}

@keyframes openTab {
	from {
		height: 11px;
	}

	to {
		height: 0;
	}
}

@keyframes closeTab {
	0% {
		height: 0;
	}

	90% {
		height: 0;
	}

	100% {
		height: 11px;
	}
}

// body { font-family: sans-serif; }

// .scene {



// }

// .active {
// 	// transform: rotate(90deg);
// }

// .card {
// 	// width: 0;
// 	// height: 0;
// 	// transition: transform 1s;
// 	// transform-style: preserve-3d;
// 	// cursor: pointer;
// 	// position: relative;
// 	transform: rotate(90deg);
// 	// position: relative;
// 	// left: 5px;
// 	// top: -2.5px;
// 	// z-index: 6;

// 	width: 25px;
// 	height: 10px;
// }



// .card:hover {

// }

// .card__face {
// 	position: absolute;
// 	-webkit-backface-visibility: hidden;
// 	backface-visibility: hidden;
// 	transform: rotate(-90deg);
// 	top: -5px;
// 	left: -4px;

// 	border-top: 8px solid green;
// 	border-bottom: 2px solid transparent;
// 	border-right: 14px solid transparent;
// 	border-left: 14px solid transparent;

// 	height: 20px;
// 	width: 20px;
// }

// .card__face--front {
// 	border-top-color: white;
// }

// .card__face--back {
// 	border-top-color: var(--locked-color);
// 	transform: rotate(-90deg) rotateY(180deg);
// }



// .card {
// 	.card__face--front {
// 		border-top-color: var(--locked-color);
// 	}

// 	.card__face--back {
// 		border-top-color: var(--locked-color);
// 	}
// }

// .card2 {
// 	top: 0px;
// 	z-index: 5;

// 	.card__face--front {
// 		border-top-color: white;
// 	}

// 	.card__face--back {
// 		border-top-color: white;
// 	}
// }

// .square {
// 	width: 100px;
// 	height: 20px;
// 	border: 1px solid black;
// 	border-radius: 3px;
// 	background: gold;
// 	transform: skewX(20deg);
// }



// #f1_container {
// 	position: relative;
// 	margin: 10px auto;
// 	width: 450px;
// 	height: 281px;
// 	z-index: 1;
//   }
//   #f1_container {
// 	perspective: 1000;
//   }
//   #f1_card {
// 	width: 100%;
// 	height: 100%;
// 	transform-style: preserve-3d;
// 	transition: all 1.0s linear;
//   }
//   #f1_container:hover #f1_card {
// 	transform: rotateX(180deg);
// 	box-shadow: -5px 5px 5px #aaa;
//   }
//   .face {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	backface-visibility: hidden;
//   }
//   .face.back {
// 	display: block;
// 	transform: rotateY(180deg);
// 	box-sizing: border-box;
// 	padding: 10px;
// 	color: white;
// 	text-align: center;
// 	background-color: #aaa;
//   }