@import "./css/_variables";
@import "./css/_normalize";

body,
html,
#root {
	min-height: 100%;
	margin: 0;
	height: 100%;
}

#root {
	font-family: 'Dosis', sans-serif;
	color: $colorSecondary;
	// font-size: 10px;
}

